nav {
    background-image: linear-gradient(to right, rgb(98, 98, 240), rgb(37, 37, 222), rgb(52, 3, 122));
    margin-top: 5px;
    text-align: center;
    color: aliceblue;

}
.result-heading {
    color: #000; 
    font-weight: bold; 
  }

h2{
    margin-left: -50px;
    color: black;
}
.card-body{
    height: 300px;
    width: 500px;
}

form {
    margin-left: -50px;
    color: black;
}
button {
    height: 40px;
    width: 100px;
}
#buttons {
    justify-content: left;
    margin-top: 100px;
    margin-left: -270px;
}
.search-history-item {
    border-radius: 5px;
    background-color: rgb(188, 185, 185);
    padding: 15px;
    width: 400px;
    height: 45px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}